html  {
	font-family:source-sans-pro, sans-serif;
    padding:0;
    margin:0;
}

#container {
	width: 1024px;
	height: 700px;
	margin: 0 auto;
	border: 1px solid black;
	background-color: white;
}

body  {
    
    margin:0;
    padding: 0;
    background-color: #eeeeee;
}
nav  {
    height: 90px;
    width: 100%;
    background-color: #e2fff2;
    padding:0;
    margin:0 auto;
}

header  {
    color: #999;
    height:65px;
    width:100%;
    background-color:#e2fff2;
    margin:auto;
    padding:auto; 
    border-bottom: 2px solid #dbdddc;
    float: left;
}
ul  {
    float: right;
    margin: auto;
}

ul li  {
    margin:auto;
    display: inline-block;
    margin-right: 20px;
}

ul li:hover  {
    animation: navani 0.6s ease-in forwards;
}

#loginBox  {
	float: left;
	margin-left: 30px;
	width: 300px;
	height: 500px;
	border: 2px solid black;
}

#loginBox [input=text]  {
	background-color:yellow;
}
@keyframes navani  {
    0% {
        border-bottom: 2px solid rgba(0,0,0,0);
        border-radius: 2px;    
    }
    80% {
        color:#5cf272;
        
    }
    100% {border-bottom: 2px solid #999;
          border-radius: 1px;
          color:#5cf272;
    }
}
